  <!-- Start Chose COuntry -->
  <section class="country">
      <div class="container">
          <div class="row">
              <div class="col-12 text-center">
                  <h2>من فضلك قم باختيار الدولة أولا</h2>
              </div>

              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/algeria.png">
                      </a>
                      <p>الجزائر</p>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="assets/Images/Countries/bahrain.png">
                      </a>
                      <p>البحرين</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/comoros.png">
                      </a>
                      <p>جزر القمر</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/djibouti.png">
                      </a>
                      <p>جيبوتي</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/egypt.png">
                      </a>
                      <p>مصر</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/iraq.png">
                      </a>
                      <p>العراق</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/jordan.png">
                      </a>
                      <p>الاردن</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/kuwait.png">
                      </a>
                      <p>الكويت</p>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/lebanon.png">
                      </a>
                      <p>لبنان</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/libya.png">
                      </a>
                      <p>ليبيا</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/morocco.png">
                      </a>
                      <p>المغرب</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/oman.png">
                      </a>
                      <p>عمان</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/palestine.png">
                      </a>
                      <p>فلسطين</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/qatar.png">
                      </a>
                      <p>قطر</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/saudi_arabia.png">
                      </a>
                      <p>السعودية</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/somalia.png">
                      </a>
                      <p>الصومال</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/sudan.png">
                      </a>
                      <p>السودان</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/syria.png">
                      </a>
                      <p>سوريا</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/tunisia.png">
                      </a>
                      <p>تونس</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/united_arab_emirates.png">
                      </a>
                      <p>الامارات</p>
                  </div>
              </div>
              <div class="col-lg-3 mx-auto">
                  <div href="#" class="box-country text-center">
                      <a href="#">
                          <img src="/assets/Images/Countries/yemen.png">
                      </a>
                      <p>اليمن</p>
                  </div>
              </div>
              <div class="col-lg-3 mx-auto">
                      <div href="#" class="box-country text-center">
                          <a href="#">
                              <img src="/assets/Images/Countries/bangladesh.png">
                          </a>
                          <p>بنجلاديش</p>
                      </div>
                  </div>
          </div>
      </div>
  </section>
  <!-- End Chose COuntry -->