<div class="row">
    <div class="col-6">
        <h2>السيرة الذاتية</h2>
    </div>
    <div class="col-6 text-left">
        <button class="btn btn-new">+</button>
        <button class="btn btn-save">حفظ</button>
    </div>
    <div class="col-12">
        <form>
            <div class="row">
              
                <div class="col-6">
                    <label class="file">
                        <input type="file">
                        <span>
                            <img src="/assets/Images/Icons/download_icon.png">
                            اسم الملف المرفق
                        </span>
                    </label>
                </div>
                <div class="col-6">
                   <i class="fa fa-trash fa-3x"></i>
                </div>
    
            </div>
        </form>
    </div>
   </div>