 <!-- Start Footer -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo-footer">
                    <img src="/assets/Images/Icons/cv_logo.png" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <ul class="list-unstyled">
                    <li><a href="index.html">الرئيسية</a></li>
                    <li><a href="#">الشروط و الاحكام</a></li>
                    <li><a href="signup.html">التسجيل</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-unstyled">
                    <li><a href="#">سياسة التعامل</a></li>
                    <li><a href="#">الحماية و الخصوصية</a></li>
                    <li><a href="#">الابلاغ عن مشكلة</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="whatsapp">
                    <img src="/assets/Images/Icons/whatsapp.png">
                    <p>+321654321654321</p>
                </div>
            </div>
        </div>
    </div>
</footer>
   <!-- End Footer -->