  <!-- Start Section support -->
  <section class="signin support">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>الدعم الفني</h2>
                <p class="text-center">من فضلك ادخل بياناتك و قم بوصف و توضيح مشكلتك</p>
                <form>
                        <input class="btn-block" type="text" placeholder="الاسم">
                    <input class="btn-block" type="text" placeholder="البريد الالكتروني">
                    <input class="btn-block" type="text" placeholder="اسم المشكلة">
                    <textarea class="btn-block" placeholder="وصف المشكلة"></textarea>
                 
                    <button class="btn btn-signin btn-block">ارسال</button>
     
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Section support -->