   <!-- Start Section Signin -->
   <section class="signin">
      <div class="container">
          <div class="row">
              <div class="col-lg-5">
                  <h2>تسجيل الدخول</h2>
                  <form>
                      <input class="btn-block" type="text" placeholder="البريد الالكتروني">
                      <input class="btn-block" type="text" placeholder="كلمة المرور">
                      <a routerLink="/fpassowrd" class="text-left d-block">نسيت كلمة المرور؟</a>
                      <button class="btn btn-signin btn-block">تسجيل دخول</button>
                      <a routerLink="/signup" class="btn btn-new btn-block">تسجيل جديد</a>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!-- End Section Signin -->