
           <div class="tabs">
               <ul class="list-unstyled m-0 p-0">
                   <li class="active"><a routerLink="desire2">الرغبات المكانية للوظيفة</a></li>
                   <li class=""><a routerLink="general">معلومات عامة</a></li>
                   <li class=""><a routerLink="previoues">الخبرات السابقة</a></li>
                   <li class=""><a routerLink="education">المؤهل التعليمي</a></li>
                   <li class=""><a routerLink="courses">الدورات التدريبية</a></li>
                   <li class=""><a routerLink="lang">اللغات</a></li>
                   <li class=""><a routerLink="cv">السيرة الذاتية</a></li>
               </ul>
           </div>
           <div class="tabs">
               <ul class="list-unstyled m-0 p-0">
                   <li class=""><a routerLink="password">اعدادات كلمة المرور</a></li>
               </ul>
           </div>
     
       
    