<div class="row">

    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-6">
                    <h2>المستوى التعليمي</h2>
                </div>
                <div class="col-6 text-left">
                    <button class="btn btn-save">حفظ</button>
                </div>
                <div class="col-lg-6">
                    <input class="btn-block" type="password" placeholder="كلمة المرور الحالية">
                    <input class="btn-block" type="password" placeholder="كلمة المرور الجديدة">
                    <input class="btn-block" type="password" placeholder="تأكيد كلمة المرور الجديدة">
                    <a href="forgetpassword.html" class="d-block text-left remm">نسيت كلمة المرور ؟</a>
                </div>
            </div>
        </form>
    </div>
</div>