   <!-- Start Section Signin -->
   <section class="forgetpass">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <h2>تسجيل الدخول</h2>
                  <p class="text-center">من فضلك ادخل بريدك الالكتروني أدناه لتلقي اعدادات تعيين كلمة مرور الخاصة بك</p>
                  <form>
                <div class="row">
                    <div class="col-8 mx-auto">
                          <input class="btn-block" type="text" placeholder="البريد الالكتروني">
                          <button type="submit" class="btn btn-signin btn-block">تسجيل دخول</button>
                          <a class="rem text-center d-block" routerLink="/signin">تذكرت كلمة المرور؟</a>
                    </div>
                </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!-- End Section Signin -->