    <!-- Start Section msg -->
    <section class="msg">
      <div class="container">
          <div class="row">
              <div class="col-lg-11 mx-auto">
                  <div class="row">
                      <div class="col-4 pl-0">
                          <div class="msg1">
                              <div class="head-msg pt-4 pb-4">
                                  <h2>الرسائل</h2>
                              </div>
                              <div class="box-ms">
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="row">
                                              <div class="col-4">
                                                  <img src="/assets/Images/Icons/male_icon.png" alt="">
                                              </div>
                                              <div class="col-8">
                                                  <h3>2451454658569855</h3>
                                                  <h4>اسم صاحب الوظيفة</h4>
                                                  <span>منذ يومين</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="box-ms">
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="row">
                                              <div class="col-4">
                                                  <img src="/assets/Images/Icons/male_icon.png" alt="">
                                              </div>
                                              <div class="col-8">
                                                  <h3>2451454658569855</h3>
                                                  <h4>اسم صاحب الوظيفة</h4>
                                                  <span>منذ يومين</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="box-ms">
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="row">
                                              <div class="col-4">
                                                  <img src="/assets/Images/Icons/male_icon.png" alt="">
                                              </div>
                                              <div class="col-8">
                                                  <h3>2451454658569855</h3>
                                                  <h4>اسم صاحب الوظيفة</h4>
                                                  <span>منذ يومين</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="box-ms">
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="row">
                                              <div class="col-4">
                                                  <img src="/assets/Images/Icons/male_icon.png" alt="">
                                              </div>
                                              <div class="col-8">
                                                  <h3>2451454658569855</h3>
                                                  <h4>اسم صاحب الوظيفة</h4>
                                                  <span>منذ يومين</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-8 pr-0">
                          <div class="msg2">
                              <div class="head-msg pt-4 pb-4 text-center">
                                  <h2>الرسائل</h2>
                              </div>

                              <div class="send">
                                  <div class="row">
                                      <div class="col-10">
                                          <img src="/assets/Images/Icons/male_icon.png" alt="">
                                          <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="resv">
                                      <div class="row">
                                          <div class="col-10">
                                              <img src="/assets/Images/Icons/male_icon.png" alt="">
                                              <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة</p>
                                          </div>
                                      </div>
                                  </div>
                                
                          </div>
                          <div class="col-12">
                                  <textarea class="btn-block" placeholder="اترك رسالتك هنا"></textarea>
                              </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- End section msg -->