  <!-- Start Page Signup -->
  <section class="signup">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <h2>حساب جديد</h2>
                  <form action="">
                      <div class="row">
                        <div class="col-6">
                              <label class="box-input text-center" for="new1">
                                      <img src="/assets/Images/Icons/business_owner.png" alt="">
                                      <p>باحث عن وظيقة</p>
                                      <input type="radio" name="new" id="new1">
                                      <span></span>
                                  </label>
                        </div>
                        <div class="col-6">
                              <label class="box-input text-center" for="new2">
                                      <img src="/assets/Images/Icons/business_owner.png" alt="">
                                      <p>باحث عن وظيقة</p>
                                      <input type="radio" name="new" id="new2">
                                      <span></span>
                                  </label>
                        </div>
                        <div class="col-6">
                            <input class="btn-block" type="text" placeholder="الاسم الاول">
                        </div>
                        <div class="col-6">
                          <input class="btn-block" type="text" placeholder="الاسم الاخير">
                      </div>
                      <div class="col-6">
                          <input class="btn-block" type="text" placeholder="رقم الهاتف">
                      </div>
                      <div class="col-6">
                         <select class="btn-block" name="" id="">
                             <option value="">الدولة</option>
                         </select>
                      </div>
                      <div class="col-12">
                          <input class="btn-block" type="email" placeholder="البريد الالكترونى">
                      </div>
                      <div class="col-12">
                          <input class="btn-block" type="text" placeholder="كلمة المرور">
                      </div>
                      <div class="col-12">
                        <button class="btn btn-new btn-block">تسجيل جديد</button>
                      </div>
                      <div class="col-12">
                          <a  routerLink="/signin" type="submit" class="btn btn-signin btn-block">تسجيل دخول</a>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!-- End Page Signup -->