  <!-- start section profile -->
  <section class="profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="profile-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img class="p-img" src="/assets/Images/Icons//male_icon.png">
                                </div>
                                <div class="col-8">
                                    <p class="p-head-text">245146464651641654</p>
                                    <h3>نائب المدير</h3>
                                    <div class="jop">
                                        <div class="row">
                                            <div class="col-12">
                                                <i class="fa fa-briefcase fa-lg"></i>
                                                <span>المهنة</span>
                                            </div>
                                            <div class="col-12">
                                                <i class="fa fa-dot-circle-o  fa-lg"></i>
                                                <span>طب أطفال</span>
                                            </div>
                                            <div class="col-12">
                                                <i class="fa fa-code-fork fa-lg"></i>
                                                <span>المهنة</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="places">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2>الرغبات المكانية للوظيفة</h2>
                                            </div>
                                            <div class="col-md-4">
                                                <img class="icon" src="/assets/Images/Icons/choice_one.png">
                                                <img class="falg" src="/assets/Images/Countries/jordan.png">
                                                <span>الأردن - عمّان</span>
                                            </div>
                                            <div class="col-md-4">
                                                <img class="icon" src="/assets/Images/Icons/choice_two.png">
                                                <img class="falg" src="/assets/Images/Countries/egypt.png">
                                                <span>مِصر - القاهرة</span>
                                            </div>
                                            <div class="col-md-4">
                                                <img class="icon" src="/assets/Images/Icons/choice_three.png">
                                                <img class="falg" src="/assets/Images/Countries/morocco.png">
                                                <span>المغرب - الدار البيضاء</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="p-info">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2>معلومات عامة</h2>
                                            </div>
                                            <div class="col-6">
                                                <p><span>العمر </span>: 34 عام</p>
                                                <p><span>سنوات الخبرة </span>: 3 سنوات خبرة في مجال الطب</p>
                                                <p><span>ارغب العمل بدوام</span>: كلي, جزئي, من المنزل, جميع ماسبق</p>
                                            </div>
                                            <div class="col-6">
                                                <p><span>رخصة القيادة </span>: لدي</p>
                                                <p><span>الجنس </span>: ذكر</p>
                                                <p><span>الحالة الإجتماعية </span>: اعذب</p>
                                                <p><span>الحالة العسكرية </span>: إعفاء</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="exp">
                                        <div class="row">
                                            <div class="col-10">
                                                <h2>الخبرات السابقة</h2>
                                            </div>
                                            <div class="col-2 text-left">
                                                <a routerLink="/desir/previoues">+</a>
                                            </div>
                                            <div class="col-8">
                                                <h4>نائب المدير</h4>
                                            </div>
                                            <div class="col-4">
                                                <h5>سنوات الخبرة : 3 سنوات</h5>
                                            </div>
                                            <div class="col-11">
                                                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
                                                    سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                                                    الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم
                                                    إيبسوم لأنها</p>
                                            </div>

                                            <div class="col-11 mx-auto">
                                                <hr>
                                            </div>

                                            <div class="col-8">
                                                <h4>استشاري</h4>
                                            </div>
                                            <div class="col-4">
                                                <h5>سنوات الخبرة : 3 سنوات</h5>
                                            </div>
                                            <div class="col-11">
                                                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
                                                    سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                                                    الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم
                                                    إيبسوم لأنها</p>
                                            </div>

                                        </div>

                                        <div class="col-11 mx-auto">
                                            <div class="row">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="edu">
                                        <div class="row">
                                            <div class="col-10">
                                                <h2>المؤهل التعليمى</h2>
                                            </div>
                                            <div class="col-2 text-left">
                                                <a routerLink="/desir/education">+</a>
                                            </div>
                                            <div class="col-7 mb-5">
                                                <h4>دورة سلامة وآمان المرضي</h4>
                                            </div>
                                            <div class="col-5  mb-5">
                                                <h5>من عام 2014 الي عام 2015</h5>
                                            </div>

                                            <div class="col-7  mb-5">
                                                <h4>دورة سلامة وآمان المرضي</h4>
                                            </div>
                                            <div class="col-5  mb-5">
                                                <h5>من عام 2014 الي عام 2015</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="lang">
                                        <div class="row">
                                            <div class="col-10">
                                                <h2>اللغات</h2>
                                            </div>
                                            <div class="col-2 text-left">
                                                <a routerLink="/desir/lang">+</a>
                                            </div>
                                            <div class="col-6">
                                                <h5 class="lang1">اللغة العربية</h5>
                                                <h5 class="lang2">اللغة الأم</h5>
                                                <h5 class="lang1">اللغة الانجليزية</h5>
                                                <h5 class="lang2">بطلاقة</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div div class="col-lg-3">
                <div class="sess text-center">
                    <div class="row">
                        <div class="col-4">
                            <div class="icon-img"><a href="#"><img src="/assets/Images/Icons/download_icon.png" alt=""></a></div>
                        </div>
                        <div class="col-4">
                            <div class="icon-img"><a href="#"><img src="/assets/Images/Icons/fav_icon.png" alt=""></a></div>
                        </div>
                        <div class="col-4">
                            <div class="icon-img"><a href="#"><img src="/assets/Images/Icons/message_icon.png" alt=""></a></div>
                        </div>
                    </div>
                </div>

                <div class="extn">
                    <div class="row">
                        <div class="col-12">
                            <h1>ذات صلة</h1>
                        </div>
                        <div class="col-12">
                            <div class="box">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="/assets/Images/Icons/female_icon.png" alt="">
                                    </div>
                                    <div class="col-8">
                                        <h2>اسم باحث عن عمل</h2>
                                        <p>اسم المهنة</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                              <div class="row">
                                  <div class="col-4">
                                      <img src="/assets/Images/Icons/female_icon.png" alt="">
                                  </div>
                                  <div class="col-8">
                                      <h2>اسم باحث عن عمل</h2>
                                      <p>اسم المهنة</p>
                                  </div>
                              </div>
                          </div>
                          <div class="box">
                            <div class="row">
                                <div class="col-4">
                                    <img src="/assets/Images/Icons/female_icon.png" alt="">
                                </div>
                                <div class="col-8">
                                    <h2>اسم باحث عن عمل</h2>
                                    <p>اسم المهنة</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section profile -->
