   <!-- Start header -->
   <header class="text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="header-content">
                    <h1>لوريم إيبسوم</h1>
                    <p>لوريم إيبسوم لوريم إيبسوم لوريم إيبسوم لوريم إيبسوم لوريم<br> إيبسوم لوريم إيبسوم لوريم
                        إيبسوم لوريم إيبسوم</p>
                    <a routerLink="/country" class="btn">ابحث الآن</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End header -->

<!-- Start Sec1 -->
<section class="sec1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="first-sec1 text-center b-left">
                    <div class="row">
                        <div class="col-lg-5 col-md-12">
                            <img src="/assets/Images/Icons/business_owner.png" alt="">
                        </div>
                        <div class="col-lg-5">
                            <h2>صاحب عمل</h2>
                            <p>لوريم إيبسوم لوريم إيبسوم لوريم إيبسوم لوريملوريم إيبسوم لوريم إيبسوم لوريم إيبسوم
                                لوريم</p>
                            <a routerLink="/signup" class="btn btn1">انضم لدينا</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="first-sec1 text-center">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="/assets/Images/Icons/job_seeker.png" alt="">
                        </div>
                        <div class="col-lg-5">
                            <h2>باحث عن وظيفة</h2>
                            <p>لوريم إيبسوم لوريم إيبسوم لوريم إيبسوم لوريملوريم إيبسوم لوريم إيبسوم لوريم إيبسوم
                                لوريم</p>
                            <a routerLink="/signup" class="btn btn2">انضم لدينا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Sec2 -->
<!-- Start Sec2-->
<section class="sec2 text-lg-right text-md-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>لوريم ايبسوم</h2>
                <div class="row">
                    <div class="col-lg-9  col-md-12">
                        <p>لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم
                            ايبسوم</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/assets/Images/Icons/special recruits.png">
            </div>

            <div class="col-lg-6">
                    <img src="/assets/Images/Icons/post_your_cv.png">
         

                </div>
                <div class="col-lg-6">
                        <h2>لوريم ايبسوم</h2>
                        <div class="row">
                            <div class="col-lg-9  col-md-12">
                                <p>لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم
                                    ايبسوم</p>
                            </div>
                        </div>
                </div>

                <div class="col-lg-6">
                        <h2>لوريم ايبسوم</h2>
                        <div class="row">
                            <div class="col-lg-9  col-md-12">
                                <p>لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم ايبسوم لوريم
                                    ايبسوم</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="/assets/Images/Icons/variety_of_choices.png">
                    </div>
            </div>
        </div>
</section>
<!-- End Sec2-->

<!-- Start sec3-->
<section class="sec3 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
              <div class="box-sec3">
                    <div class="row">
                            <div class="col-4">
                                <img src="/assets/Images/Icons/done.png" alt="">
                            </div>
                            <div class="col-8">
                                <h3>ما تم انجازه</h3>
                                <span class="counter" data-count="3214">0</span>
                            </div>
                        </div>
              </div>
            </div>
            <div class="col-lg-4">
                    <div class="box-sec3">
                          <div class="row">
                                  <div class="col-4">
                                      <img src="/assets/Images/Icons/owners.png" alt="">
                                  </div>
                                  <div class="col-8">
                                      <h3>ما تم انجازه</h3>
                                      <span class="counter" data-count="3215">0</span>
                                  </div>
                              </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                        <div class="box-sec3">
                              <div class="row">
                                      <div class="col-4">
                                          <img src="/assets/Images/Icons/seekers.png" alt="">
                                      </div>
                                      <div class="col-8">
                                          <h3>ما تم انجازه</h3>
                                          <span class="counter" data-count="215">0</span>
                                      </div>
                                  </div>
                        </div>
                      </div>
        </div>
    </div>
</section>
<!-- end Sec3-->
